body, pre {
    margin: 0;
}
#wholeBody {
    display: table;
    background-color: #b21717;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
#tableRow {
    display: table-row;
    background-color: #b21717;				
}

#outputArea {
    display: table-cell;
    background-color: #ea6161;
    width: 50%;
}
#output {
    color: #fce8e8;
    font-family: monospace;
    text-align: left;
    margin: 20px;
}

#inputArea {
    display: table-cell;
    background-color: #f3a5a5;
    width: 50%;
    height: 100%;
    position: fixed;
}
#input {
    color: #9e1515;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    width: 90%;
    height: 480px;
    padding: 16px;
    border: none;
    resize: none;
    box-shadow: 2px 2px #5a0c0c;
    margin-top:20px;
}
#buttonsDiv {
    width: 90%;
    height: 80px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
#go {
    background-color: #b21717;
    color: #f76f6f;
    font-family: 'Lato', sans-serif;
    border: 0;
    font-size: 1.5em;
    transition: background-color 0.4s;
    box-shadow: 2px 2px #5a0c0c;
    display: inline;
    margin-right: 20px;
    padding-right: 60px;
    padding-left: 60px;
}
#go:hover {
    background-color: #841313;
}
#settings {
    background-color: #f6bcbc;
    color: #b21717;
    font-family: 'Lato', sans-serif;
    display: -webkit-inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}
#settingsText {
    margin: 0;
    margin-bottom: 8px;
}
form {
    text-align: left;
    margin: 0;
}
